<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>新冠疫情大数据分析</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

    <script>
        window.onload = function () {

            function flushProgressBar(progressBarId, progressTextId, progress, message, setIntervalId,type) {
                var progressBar = document.getElementById(progressBarId);
                var progressText = document.getElementById(progressTextId);
                progressBar.style.width = String(progress) + "%";
                progressText.innerHTML = message;
                if(progress == 100){
                    progressBar.classList.remove("active")
                    progressBar.classList.add("progress-bar-success")
                    clearInterval(setIntervalId);
                    $.ajax(
                        {
                            type:'get',
                            url:'/progress/'+type+'/zero'
                        }
                    )
                }
            }
            function tapRunButton(progressBarId, progressTextId,type) {
                $.ajax({
                    type:"get",
                    url:"/"+type+"/status",
                    success:function (result) {
                        console.log(result)
                        if(result == "true"){
                            $.ajax({
                                type:"get",
                                url:"/"+type,
                            });

                            var progressBar = document.getElementById(progressBarId)
                            progressBar.classList.remove("progress-bar-success")

                            // var setId = setInterval(function flush(){
                            //     $.ajax({
                            //         type: "get",
                            //         url: "/progress/"+type+"/how",
                            //         dataType:"json",
                            //         success: function (response) {
                            //             console.log(response)
                            //             flushProgressBar(progressBarId, progressTextId, parseInt(response[0]), response[1],setId,type);
                            //         }
                            //     })
                            // },1000);
                        }
                    }
                })
            }

            var spiderButton = document.getElementById("spiderButton");
            spiderButton.onclick = function(){
                tapRunButton("progressBar","progressText","spider");
            }
            var mapReduceButton = document.getElementById("mapReduceButton");
            mapReduceButton.onclick = function () {
                tapRunButton("mapreduceBar","mapreduceText","mr")
            }

        }
    </script>
    <style>
        #box1 {
            width: 50px;
            height: 50px;
            background-color: #000;
        }
    </style>
</head>

<body>
    <div class="container-fluid">

        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- 手机屏幕，隐藏右边三块-->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index">新冠疫情大数据分析</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- class="active" -->
                        <li><a href="/globe">世界</a></li>
                        <li><a href="/china">中国</a></li>
                        <li><a href="/beijing">北京</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="guide" style="background-image: url(picture/pic1.jpg)">
                <div class="have_more">
                    <h6>COVID-19 Data Analysis</h6>
                    <h2>新冠疫情大数据分析</h2>
                    <a class="btn btn-default btn_more" href="Globe.html" role="button">MORE</a>
                </div>
            </div>
        </div>

        <div class="row info">
            <div class="info_title">
                <h3 style="font-weight: bold;">新冠疫情信息</h3>
            </div>
            <div class="col-md-4">
                <div class="info-item">
                    <img src="picture/pic4.jpg" class="message_img">
                    <div class="info-text" style="padding-top: 24px;">
                        <p>
                            COVID-19 是新型冠状病毒感染肺炎的正式命名
                            <br>
                            "CO" 代表Corona（冠状）
                            <br>
                            "VI" 代表Virus（病毒）
                            <br>
                            "D" 代表Disease（疾病）
                            <br>
                            "19" 代表疾病发现的年份为2019年
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-item">
                    <img src="picture/pic3.png" class="message_img">
                    <div class="info-text" style="padding-top: 33px;">
                        <p>
                            COVID-19 席卷全球
                            <br>
                            累计确诊人数已经超过1600万
                            <br>
                            累计死亡人数已经超过60万
                            <br>
                            全球疫情形势十分严峻
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-item">
                    <img src="picture/pic2.png" class="message_img">
                    <div class="info-text" style="padding-top: 68px;">
                        <p>
                            为了您和他人的安全，请自觉佩带口罩
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="member" style="color: rgb(99, 99, 99);">
            <hr>
            <div class="col-md-6" style="padding-left: 6%;">
                <h3>项目团队：乘风破浪的程序猿</h3>
                <h5 style="color: gray;">我们一直致力于为广大客户提供用心的优质项目和相关服务！</h5>
                <!-- Button trigger modal -->
                <br>
                <button id="spiderButton" type="button" class="btn btn1" data-toggle="modal" data-target="#myModal1">
                    获取数据
                </button>
                &nbsp;&nbsp;&nbsp;
                <button id="mapReduceButton" type="button" class="btn btn2" data-toggle="modal" data-target="#myModal2">
                    MapReduce
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel1">获取数据</h4>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-info" role="alert">
                                    <span id="progressText">爬虫程序正在运行...</span>
                                </div>
                                <div class="progress"> 
                                    <div id="progressBar" class="progress-bar progress-bar-striped active"
                                        role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="60"
                                        style="width: 0%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel2">获取数据</h4>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-info" role="alert">
                                    <span id="mapreduceText">mapreduce程序正在运行...</span>
                                </div>
                                <div class="progress">
                                    <div id="mapreduceBar" class="progress-bar progress-bar-striped active"
                                         role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="60"
                                         style="width: 0%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-left: 6%;">
                <h3>组员：</h3>
                <p style="line-height: 25px; color: gray;">
                    <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
                    &nbsp;&nbsp;&nbsp;陈钰鼎
                    <br>
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    &nbsp;&nbsp;&nbsp;柳鑫
                    <br>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    &nbsp;&nbsp;&nbsp;孟程昊
                    <br>
                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                    &nbsp;&nbsp;&nbsp;麦德妮亚提
                    <br>
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    &nbsp;&nbsp;&nbsp;祝鹏天
                </p>
            </div>
        </div>
    </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>

</html>